.opt {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
}

.side-buttons {
  display: flex;
  flex-direction: column;
  transform: translateY(-200%);
}


.side-button {
  background-color: #333;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  color: #fff;
  border: none;
  padding: 21px;
  margin-bottom: 10px;
  cursor: pointer;
}

.side-button img {
  width: 25px;
  height: 25px;
}

.side-button:hover {
  background-color: #6E4670;
}

.user-profileorder {
  background-color: #333;
  color: #fff;
  padding: 20px 80px 20px 80px;
  border-top-left-radius: 30px;
  width: 80%;
  height: 80%;
  text-align: center;
  position: relative;
  overflow-y: auto; /* Добавляем вертикальную прокрутку */
}

.profile-section {
  margin-top: 20px;
}

.orders-grid {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 20px;
}

.order-item {
  padding: 20px;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.order-item:hover {
  transform: translateY(-4px);
}

.order-products {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.product-card {
  display: flex;
  gap: 20px;
  transition: transform 0.3s;
}

.product-card:hover {
  transform: translateY(-4px);
}

.product-image {
  width: 50%;
  height: 300px;
  border-radius: 12px;
  aspect-ratio: 1;
  object-fit: cover;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.product-name {
  margin: 0;
  color: white;
  font-size: 32px;
  text-align: start;
  width: 100%;
}

.product-price {
  margin: 0;
  color: white;
  font-weight: bold;
}
@media (max-width: 1100px) {
  .user-profileorder{
    padding: 10px;
  }
}
@media (max-width: 900px) {
  .order-card{
    flex-direction: column;
  }
  .order-card img{
    width: 100%;
  }
}
@media (max-width: 800px) {
  .avatar img{
    width: 120px;
  }
  .avatar-info{
    flex-direction: column;
  }
  .logout-button{
    bottom: 10px;
    right: 10px;
  }
}

@media (max-width: 500px) {
  .order-actions{
    flex-direction: column;
  }
  .user-profileorder{
    padding: 0;
  }
}