.promo-container3 {
    position: relative; /* Чтобы блок blockic был позиционирован относительно контейнера */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #202020; /* Черный фон */
    color: #fff; /* Белый цвет текста */
    width: 100%;
    height: 100vh; /* Высота блока на весь экран */
    box-sizing: border-box; /* Учитываем padding в размерах элемента */
}

.left-line3 {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.line3 {
    width: 10px;
    height: 700px;
    background-color: #fff;
    margin-bottom: 10px;
}

.number3 {
    font-size: 7rem;
    color: #fff;
    transform: rotate(-90deg);
}

.promo-content3 {
    flex: 1; /* Занимает оставшееся пространство */
    text-align: center; /* Выравнивание текста по центру */
    z-index: 2;
}

.promo-content3 h1 {
    font-size: 96px; /* Размер заголовка */
    margin-bottom: 2rem;
    font-weight: bold;
}

.sneaker-designs {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}

.sneaker {
    position: relative;
    text-align: center;
}

.sneaker img {
    max-width: 100%;
    height: auto;
    object-fit: cover; /* Сохранение пропорций изображения */
}

.play-button {
    font-size: 2rem;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
}

.blockic3 {
    position: absolute;
    bottom: 0; /* Позиционирование относительно нижней границы */
    right: 0; /* Позиционирование относительно правой границы */
    width: 1160px; /* Ширина блока */
    height: 860px; /* Высота блока */
    border-top-left-radius: 30px;
    background-color: #30303078; /* Полупрозрачный фон */
    z-index: 1; /* Устанавливаем z-index, чтобы блок был за текстом и изображением */
}
