.category-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    height: 80%;
    margin: 0 auto;
    background-color: #202020;
}

.flexick {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #202020;
    overflow: auto; /* Add this line to enable scrolling */
}

@media (max-width: 768px) {
    .category-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .category-grid {
        grid-template-columns: 1fr;
    }
}
